.blgz-popover {
  position: fixed;
  padding: $blgz-margin / 2;
  border: 1px solid $blgz-border-color;
  background: #fff;
  z-index: 99;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.blgz-popover--isVisibleAnim {
  opacity: 1;
}
