<template>
  <div class="blgz-popover ${ _isVisibleAnim ? 'blgz-popover--isVisibleAnim' : '' }"
       element.ref="popoverElement"
       show.bind="_isVisible">
    <slot></slot>
  </div>
</template>
