.blgz-ribbon-colorThicknessPicker {
  display: flex;
}

.blgz-ribbon-colorThicknessThickItemsWrap {
  display: flex;
}

.blgz-ribbon-colorThicknessThickItem {
  padding: ($blgz-margin / 5) ($blgz-margin / 2);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $blgz-primary-color-lighter;
  }

  &.blgz-ribbon-colorThicknessThickItem--isSelected {
    background-color: $blgz-primary-color-darker;
    color: #fff;
  }
}

.blgz-ribbon-colorThicknessThickItemSizeLabel {
  font-size: 10px;
}
