<template>
  <require from="./../action/action"></require>
  <require from="./../../popover/popover"></require>

  <div as-element="blgz-ribbon-action"
       element.ref="actionElement"
       view-model.ref="actionVM"
       class="blgz-ribbon-colorThicknessPicker"
       identity-data.bind="identityData"
       on-click.call="onSelfClick(event)"
       icon.bind="icon"
       name.bind="name"></div>

  <div as-element="blgz-popover"
       on-visibility-change.call="onPopoverVisibilityChanged(isVisible)"
       is-visible.bind="isPopoverVisible">
    <div class="blgz-ribbon-colorThicknessThickItemsWrap">
      <div repeat.for="thickItem of thickItems"
           tabindex="0"
           click.delegate="onSelfThicknessSelect(thickItem, $index)"
           class="blgz-ribbon-colorThicknessThickItem fx-all
                  ${thickItem.isSelected ? 'blgz-ribbon-colorThicknessThickItem--isSelected' : ''}">
        <div>
          <span class="blgz-ribbon-colorThicknessThickItemIcon fa fa-${icon}"
                css.bind="{ 'font-size': (thickItem.value + fontSizeModifier) + 'px' }"></span>
        </div>
        <div class="blgz-ribbon-colorThicknessThickItemSizeLabel">
          ${thickItem.value}
        </div>
      </div>
    </div>
  </div>
</template>
