.blgz-ribbon-action {
  margin: 5px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: medium none;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    background-color: $blgz-primary-color-lighter;
  }

  &.blgz-ribbon-action--active {
    background-color: $blgz-primary-color-lighter;
  }
}

.blgz-ribbon-action__iconWrap {
  display: block;
  font-size: 16px;
  flex: 1;
  line-height: 27px;
}

.blgz-ribbon-action__label {
  display: block;
  padding-bottom: 2px;
  padding-top: 0px;
  font-size: 0.8rem;
}
