<template>
  <div element.ref="actionElement"
       tabindex="0"
       class="blgz-ribbon-action fx-all ${isActive ? 'blgz-ribbon-action--active' : ''}"
       click.delegate="onSelfClick($event)">
    <span class="blgz-ribbon-action__iconWrap">
      <span class="blgz-ribbon-action__icon fa fa-${icon}"
            element.ref="iconElement"></span>
    </span>
    <span class="blgz-ribbon-action__label">
      ${name}
    </span>
  </div>
</template>
