.blgz-viewer-page {
  display: inline-block;
  position: relative;
}

.blgz-viewer-page__img {
  display: block;
}

.blgz-viewer-page__stageWrap {
  position: absolute;
  top: 0;
  left: 0;
}

.blgz-viewer-page__stageWrap {
  canvas {
    &:first-child {
      z-index: 9;
    }
  }
}
