<template>
  <div class="blgz-viewer-page"
       element.ref="pageElement"
       id.one-time="pageData.guid"
       mousedown.delegate="onSelfMousedown($event)"
       click.delegate="onSelfClick($event)">
    <img src.bind="pageData.url"
         element.ref="imgElement"
         load.trigger="onSelfImgLoad($event)"
         class="blgz-viewer-page__img no-drag"
         alt="">

    <div class="blgz-viewer-page__stageWrap"
         id.one-time="uuid"></div>
  </div>
</template>
