.blgz-colorPicker {
  display: flex;
  flex-wrap: wrap;
}

.blgz-colorPicker__colorWrap {
  flex: 20%;
}

.blgz-colorPicker__color {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 9px auto 0;
  font-size: 11px;
  text-align: center;
}

.blgz-colorPicker__color--isSelected {
  box-shadow: 0 0 0 2px #000;

  .blgz-colorPicker__colorCheckedIcon {
    display: inline;
  }
}

.blgz-colorPicker__colorCheckedIcon {
  opacity: 0.3;
  color: #000;
  display: none;
}
