<template>
  <div class="blgz-colorPicker">
    <div repeat.for="color of _colors"
         click.delegate="onSelfSelect($index, color)"
         class="blgz-colorPicker__colorWrap">
      <div class="blgz-colorPicker__color ${color.isSelected ? 'blgz-colorPicker__color--isSelected' : ''}"
           title="${color.name}"
           css.bind="{backgroundColor: color.code}">
           <span class="blgz-colorPicker__colorCheckedIcon fa fa-check"></span>
      </div>
    </div>
  </div>
</template>
