@import '../../node_modules/spectrum-colorpicker/spectrum.css';

.sp-replacer {
  border: 1px solid $blgz-border-color;
  background: #fff;
  color: inherit;
  transition: border-color 0.2s linear;

  &:hover {
    color: inherit;
    border-color: $blgz-primary-color;
  }

  &.sp-active {
    color: inherit;
    border-color: $blgz-primary-color;
  }
}
