<template>
  <div class="blgz-colorPickerSelect">
    <input type="color"
           value.bind="color.code"
           class="blgz-colorPickerSelect__input"
           element.ref="inputElement">
  </div>
</template>
