// @import "~bulma/bulma";

$fa-font-path: "~font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

$blgz-primary-color: #3C9D91;
$blgz-primary-color-lighter: lighten($blgz-primary-color, 13%);
$blgz-primary-color-darker: darken($blgz-primary-color, 13%);

$blgz-margin: 10px;

$blgz-border-color: #d6d3d3;
$blgz-border-background-color: #eeeeee;
$blgz-overlay-color: rgba(black, 0.5);

@import './util';
@import './../components/components';

// hacks
// html {
//   overflow: hidden;
// }

[as-element='blgz-viewer'] {
  position: absolute;
  background: #fff;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
