.blgz-ribbon-thumbnailList {
  background-color: $blgz-border-background-color;
  padding-top: $blgz-margin - 2;
  padding-bottom: $blgz-margin - 2;
}

.blgz-ribbon-thumbnailList__pageWrap {
  position: relative;
  margin-right: $blgz-margin - 2;
  margin-bottom: $blgz-margin - 2;
  margin-left: $blgz-margin - 2;
  border: 2px solid transparent;
  outline: medium none;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &.blgz-ribbon-thumbnailList__pageWrap--isSelected {
    border: 2px solid $blgz-primary-color;

    .blgz-ribbon-thumbnailList__pageCounter {
      border-top: 2px solid $blgz-primary-color;
    }
  }
}

.blgz-ribbon-thumbnailList__pageImg {
  display: block;
}

.blgz-ribbon-thumbnailList__pageCounter {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $blgz-overlay-color;
  color: #fff;
  text-align: center;
}
