<template>
  <div class="blgz-ribbon-thumbnailList">
    <div tabindex="0"
         repeat.for="page of pages"
         class="blgz-ribbon-thumbnailList__pageWrap fx-all
                ${page.isSelected ? 'blgz-ribbon-thumbnailList__pageWrap--isSelected' : ''}"
         click.delegate="onSelfSelect($event, page)">
      <img src.bind="page.url"
           class="blgz-ribbon-thumbnailList__pageImg no-drag"
           alt="">

      <div class="blgz-ribbon-thumbnailList__pageCounter fx-all">
        ${$index}
      </div>
    </div>
  </div>
</template>
