@import './page/page';
@import './thumbnail-list/thumbnail-list';

.blgz-viewer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blgz-ribbon__ribbonComponent {
  border-bottom: 1px solid $blgz-border-color;
}

.blgz-ribbon__ribbonActionComponent {
  display: flex;
}

.blgz-ribbon__ribbonGroupComponent {
  border-right: 1px solid $blgz-border-color;
}

.blgz-viewer__pagesOuterContainer {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.blgz-viewer__pagesInnerContainer {
  flex: 1;
  overflow: auto;
  background-color: $blgz-border-background-color;
  padding-top: $blgz-margin;
  text-align: center;
  border-right: 1px solid $blgz-border-color;
  height: 100%;
}

.blgz-viewer__pagesInnerContainer--inDrawingMode {
  .blgz-viewer-page {
    cursor: url('https://assets1.ofcode.org/images/edit.png') 0 100, auto;
  }
}

.blgz-viewer__pagesInnerContainer--inDrawingModeEraser {
  .blgz-viewer-page {
    cursor: url('https://i.imgur.com/NiQR85z.png') 0 100, auto;
  }
}

.blgz-viewer__pageComp {
  margin-bottom: $blgz-margin;
}

.blgz-viewer__thumbnailListContainer {
  width: 170px;
  overflow-x: hidden;
  overflow-y: auto;
}
