<template>
  <require from="./../ribbon/ribbon"></require>
  <require from="./../ribbon/group/group"></require>
  <require from="./../ribbon/action/action"></require>
  <require from="./../ribbon/color-thickness-picker/color-thickness-picker"></require>
  <require from="./../ribbon/color-picker-select-ribbon/color-picker-select-ribbon"></require>

  <require from="./page/page"></require>
  <require from="./thumbnail-list/thumbnail-list"></require>
  <require from="./../color-picker/color-picker"></require>

  <div class="blgz-viewer">
    <!-- RIBBON -->
    <div as-element="blgz-ribbon"
         blgz-ribbon-action-clicked.delegate="onRibbonActionClicked($event.detail)"
         class="blgz-ribbon__ribbonComponent">
      <!-- RIBBON ZOOMING -->
      <div as-element="blgz-ribbon-group"
           class="blgz-ribbon__ribbonGroupComponent"
           slot="group"
           name="Zooming">
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.ZoomIn"
             on-click.call="actionCallbacks.ZoomIn()"
             icon="search-plus"
             slot="action"
             name="Zoom In"></div>
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.ZoomOut"
             on-click.call="actionCallbacks.ZoomOut()"
             icon="search-minus"
             slot="action"
             name="Zoom Out"></div>
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.ResetZoom"
             on-click.call="actionCallbacks.ResetZoom()"
             icon="search"
             slot="action"
             name="Reset"></div>
      </div>

      <!-- RIBBON COLOR PICKER -->
      <div as-element="blgz-ribbon-group"
           class="blgz-ribbon__ribbonGroupComponent"
           slot="group"
           name="Colors">
        <!-- <div as-element="blgz-color-picker"
             on-select.call="onColorSelect(index, color)"
             slot="action"
             colors.bind="availableColors"></div> -->
        <div as-element="blgz-color-picker-select-ribbon"
             color.bind="defaultBorderColor"
             on-select.call="onBorderColorSelect(color)"
             name="Border"
             slot="action"></div>

        <div as-element="blgz-color-picker-select-ribbon"
             color.bind="defaultFillColor"
             on-select.call="onFillColorSelect(color)"
             name="Fill"
             slot="action"></div>
      </div>

      <!-- RIBBON TOOLS FOR DRAWING -->
      <div as-element="blgz-ribbon-group"
           class="blgz-ribbon__ribbonGroupComponent"
           slot="group"
           name="Drawing Tools">
        <div as-element="blgz-color-thickness-picker"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.ColorAndThickness"
             slot="action"></div>
      </div>

      <!-- RIBBON SHAPES DRAWING -->
      <div as-element="blgz-ribbon-group"
           class="blgz-ribbon__ribbonGroupComponent"
           slot="group"
           name="Shapes">
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.DrawRectangle"
             on-click.call="actionCallbacks.DrawRectangle()"
             icon="square-o"
             slot="action"
             name="Rectangle"></div>
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.DrawEllipse"
             on-click.call="actionCallbacks.DrawEllipse()"
             icon="circle-o"
             slot="action"
             name="Ellipse"></div>
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.DrawTextarea"
             on-click.call="actionCallbacks.DrawTextarea()"
             icon="font"
             slot="action"
             name="Text"></div>
      </div>

      <!-- RIBBON FREE DRAWING -->
      <div as-element="blgz-ribbon-group"
           class="blgz-ribbon__ribbonGroupComponent"
           slot="group"
           name="Drawing">
        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.DrawFree"
             on-click.call="actionCallbacks.DrawFree()"
             icon="pencil"
             slot="action"
             name="Free Draw"></div>

        <div as-element="blgz-ribbon-action"
             class="blgz-ribbon__ribbonActionComponent"
             identity-data.bind="actionIdentities.EraseFree"
             on-click.call="actionCallbacks.EraseFree()"
             icon="eraser"
             slot="action"
             name="Erase"></div>
      </div>
    </div>

    <!-- PAGES CONTAINER -->
    <div class="blgz-viewer__pagesOuterContainer"
         blgz-viewer-thumbnail-list-selected.delegate="onThumbnailListSelected($event.detail)">
      <div class="blgz-viewer__pagesInnerContainer ${drawingMode}"
           element.ref="pagesContainerElement"
           mousedown.delegate="onSelfMousedown()">
        <div class="blgz-viewer__pageComp"
             as-element="blgz-viewer-page"
             view-model.ref="pagesVMs[$index]"
             repeat.for="page of pages"
             page-data.bind="page"></div>
      </div>

      <div class="blgz-viewer__thumbnailListContainer">
        <div as-element="blgz-viewer-thumbnail-list"
             pages.bind="pages"></div>
      </div>
    </div>
  </div>
</template>
