<template>
  <div class="blgz-ribbon-group">
    <div class="blgz-ribbon-group__actions">
      <slot name="action"></slot>
    </div>

    <div class="blgz-ribbon-group__label">
      ${name}
    </div>
  </div>
</template>
