<template>
  <require from="./../../color-picker-select/color-picker-select"></require>

  <div class="blgz-colorPickerSelectRibbon">
    <div class="blgz-colorPickerSelectRibbon__component"
         as-element="blgz-color-picker-select"
         view-model.ref="colorPickerSelectVM"
         color.bind="color"
         on-select.call="onSelfSelect(color)"
         on-move.call="onSelfMove(color)"></div>

    <div class="blgz-colorPickerSelectRibbon__label">
      ${name}
    </div>
  </div>
</template>
