<template>
  <require from="./components/viewer/viewer"></require>

  <div class="blgz-appPage">
    <div as-element="blgz-viewer"
         view-model.ref="viewerVM"
         pages.bind="pages"></div>
  </div>
</template>
